# Arquivos do Python
*.pyc
*.pyo
__pycache__/

# Configurações do ambiente virtual
venv/
.env
*.env

# Arquivos de banco de dados local
db.sqlite3
*.sqlite3

# Arquivos de migrações do Django
migrations/
*/migrations/*.py
*/migrations/*.pyc

# Arquivos de mídia e uploads
media/
staticfiles/

# Arquivos de configuração e logs
*.log
*.pot
*.pyc
*.swp

# Arquivos de cache
.cache/
*.bak
*.tmp
.DS_Store

# Arquivos relacionados ao sistema operacional
Thumbs.db
